@font-face {
    font-family: "BECAG-Heavy";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/BECAG-Heavy.otf');
}

@font-face {
    font-family: "UniversCE-Bold";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/UniversCE-Bold.otf');
}

@font-face {
    font-family: "MyriadPro-Regular";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/MyriadPro-Regular.otf');
}

@font-face {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Helvetica.otf');
}

@font-face {
    font-family: "Afrika";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Afrika.otf');
}

@font-face {
    font-family: "AvantGarde-CondMedium";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/AvantGarde-CondMedium.otf');
}

@font-face {
    font-family: "AvantGarde-Bold";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/AvantGarde-Bold.otf');
}

@font-face {
    font-family: "AvantGarde-Medium";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/AvantGarde-Medium.otf');
}

@font-face {
    font-family: "AvantGarde-CondDemi";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/AvantGarde-CondDemi.otf');
}

@font-face {
    font-family: "AvantGarde-CondBold";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/AvantGarde-CondBold.otf');
}

@font-face {
    font-family: "AdLibBT-Regular";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/AdLibBT-Regular.otf');
}

@font-face {
    font-family: "CaslonBookBE-Bold";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/CaslonBookBE-Bold.otf');
}

@font-face {
    font-family: "AmericanaBT-ExtraBold";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/AmericanaBT-ExtraBold.otf');
}

@font-face {
    font-family: "AmericanNatives";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/AmericanNatives.otf');
}

@font-face {
    font-family: "Berkeley-Black";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Berkeley-Black.otf');
}

@font-face {
    font-family: "Berkeley-Medium";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Berkeley-Medium.otf');
}

@font-face {
    font-family: "Futura-Book";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Futura-Book.otf');
}

@font-face {
    font-family: "Futura";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Futura.otf');
}

@font-face {
    font-family: "Agenda-Bold";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Agenda-Bold.otf');
}

@font-face {
    font-family: "Berkeley-Bold";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Berkeley-Bold.otf');
}

@font-face {
    font-family: "Agenda-BoldCondensed";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Agenda-BoldCondensed.otf');
}

@font-face {
    font-family: "Berkeley-Italic";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Berkeley-Italic.otf');
}

@font-face {
    font-family: "CaslonTwoTwentyFour-Bold";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/CaslonTwoTwentyFour-Bold.otf');
}

@font-face {
    font-family: "Agenda-Medium";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Agenda-Medium.otf');
}

@font-face {
    font-family: "GaramondThree-Bold";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/GaramondThree-Bold.otf');
}

@font-face {
    font-family: "AvantGarde-Demi";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/AvantGarde-Demi.otf');
}


body {
    width: 724px;
    height: 660px;
    position: absolute;
    top: 0px;
    left: 0px;
}

img {
    width: 724px;
    height: 660px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}

* {
    margin: 0px;
    font-weight: normal;
}

.text-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1pt;
    height: 1px;
    overflow: hidden;
}

.-epub-media-overlay-active {
    color: #DE1717 !important;
    background-color: #f8f012 !important;
}

.para span {
    position: relative;
}

.para {
    position: absolute !important;
    margin-top: 0px;
}

.img_container {
    margin: 0;
    width: 724px;
    height: 660px;
}